@model OfficeSuppliesManagementSystem.ViewModels.ExportRecord.CreateViewModel

@{
    ViewData["Title"] = "领用物资";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>出库请求</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="ApplicantName" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApplicantName" class="form-control"/>
                <span asp-validation-for="ApplicantName" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="InventoryId" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="InventoryId" asp-items="ViewBag.InventorySelectItems" class="form-control"></select>
                <span asp-validation-for="InventoryId" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Quantity" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Quantity" class="form-control" />
                <span asp-validation-for="Quantity" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ApplicationDate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ApplicationDate" class="form-control" />
                <span asp-validation-for="ApplicationDate" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Note" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <textarea asp-for="Note" class="form-control"></textarea>
                <span asp-validation-for="Note" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="提交" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
