@model OfficeSuppliesManagementSystem.Models.Supply

@{
    ViewData["Title"] = "编辑";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>物品信息</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id"/>
        <div class="form-group">
            <label asp-for="Name" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Type" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Type" asp-items="ViewBag.TypeSelectItems" class="form-control"></select>
                <span asp-validation-for="Type" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Model" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Model" class="form-control"/>
                <span asp-validation-for="Model" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Specification" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Specification" class="form-control" />
                <span asp-validation-for="Specification" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Province" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Province" asp-items="ViewBag.ProvinceSelectItems" class="form-control"></select>
                <span asp-validation-for="Province" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="保存" class="btn btn-default"/>
            </div>
        </div>
    </div>
</form>
<div>
    <a asp-action="Index">返回列表</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
